* {
    box-sizing: border-box;
    border: 1px solid red;
}
.chessboard {
    display: flex;
    flex-direction: column;
    background-color: darkgrey;
    height: 100vw;
}

.row {
    display: flex;
    height: 12.5%;
}

.tile {
    width: 12.5%;
    height: 100%;
    
}

